paper/assignement.aux
paper/assignement.fdb_latexmk
paper/assignement.fls
paper/assignement.log
paper/assignement.synctex.gz
paper/matrix-functions.aux
paper/matrix-functions.fdb_latexmk
paper/matrix-functions.fls
paper/matrix-functions.log
paper/matrix-functions.synctex.gz
paper/matrix-functions.bbl
paper/matrix-functions.bcf
paper/matrix-functions.blg
paper/matrix-functions.run.xml
src/hermitePoly.asv
src/matrix_function.asv
src/test1.asv
src/dwt.data
