paper/assignement.aux
paper/assignement.fdb_latexmk
paper/assignement.fls
paper/assignement.log
paper/assignement.synctex.gz
paper/matrix-functions.aux
paper/matrix-functions.fdb_latexmk
paper/matrix-functions.fls
paper/matrix-functions.log
paper/matrix-functions.synctex.gz
paper/matrix-functions.bbl
paper/matrix-functions.bcf
paper/matrix-functions.blg
paper/matrix-functions.run.xml
src/hermitePoly.asv
src/matrix_function.asv
src/test1.asv
src/dwt.data
src/fAb.asv
src/test_fab.asv
Data/bcspwr.data/bcspwr.data
paper/matrix-functions-figure0.dpth
paper/matrix-functions-figure0.log
paper/matrix-functions-figure0.md5
paper/matrix-functions-figure0.pdf
paper/matrix-functions-figure0.run.xml
paper/matrix-functions-figure1.dpth
paper/matrix-functions-figure1.log
paper/matrix-functions-figure1.md5
paper/matrix-functions-figure1.pdf
paper/matrix-functions-figure1.run.xml
paper/matrix-functions-figure2.dpth
paper/matrix-functions-figure2.log
paper/matrix-functions-figure2.md5
paper/matrix-functions-figure2.pdf
paper/matrix-functions-figure2.run.xml
paper/matrix-functions-figure3.dpth
paper/matrix-functions-figure3.log
paper/matrix-functions-figure3.md5
paper/matrix-functions-figure3.pdf
paper/matrix-functions-figure3.run.xml
paper/matrix-functions-figure4.dpth
paper/matrix-functions-figure4.log
paper/matrix-functions-figure4.md5
paper/matrix-functions-figure4.pdf
paper/matrix-functions-figure4.run.xml
paper/matrix-functions-figure5.dpth
paper/matrix-functions-figure5.log
paper/matrix-functions-figure5.md5
paper/matrix-functions-figure5.pdf
paper/matrix-functions-figure5.run.xml
paper/matrix-functions-figure6.dpth
paper/matrix-functions-figure6.log
paper/matrix-functions-figure6.md5
paper/matrix-functions-figure6.pdf
paper/matrix-functions-figure6.run.xml
paper/matrix-functions-figure7.dpth
paper/matrix-functions-figure7.log
paper/matrix-functions-figure7.md5
paper/matrix-functions-figure7.pdf
paper/matrix-functions-figure7.run.xml
paper/matrix-functions-figure8.dpth
paper/matrix-functions-figure8.log
paper/matrix-functions-figure8.md5
paper/matrix-functions-figure8.pdf
paper/matrix-functions-figure8.run.xml
paper/matrix-functions.auxlock
src/convection_diffusion.asv
paper/matrix-functions-figure9.dpth
paper/matrix-functions-figure9.log
paper/matrix-functions-figure9.md5
paper/matrix-functions-figure9.pdf
paper/matrix-functions-figure9.run.xml
paper/matrix-functions-figure10.dpth
paper/matrix-functions-figure10.log
paper/matrix-functions-figure10.md5
paper/matrix-functions-figure10.pdf
paper/matrix-functions-figure10.run.xml
.gitignore
paper/matrix-functions-figure11.dpth
paper/matrix-functions-figure11.log
paper/matrix-functions-figure11.md5
paper/matrix-functions-figure11.pdf
paper/matrix-functions-figure11.run.xml
paper/matrix-functions-figure12.dpth
paper/matrix-functions-figure12.log
paper/matrix-functions-figure12.md5
paper/matrix-functions-figure12.pdf
paper/matrix-functions-figure12.run.xml
src/shifted_arnoldi_iteration.asv
src/shifted_arnoldi_convergence.asv
paper/matrix-functions.toc
paper/matrix-functions-figure13.dpth
paper/matrix-functions-figure13.log
paper/matrix-functions-figure13.md5
paper/matrix-functions-figure13.pdf
paper/matrix-functions-figure13.run.xml
paper/matrix-functions-figure14.dpth
paper/matrix-functions-figure14.log
paper/matrix-functions-figure14.md5
paper/matrix-functions-figure14.pdf
paper/matrix-functions-figure14.run.xml
paper/matrix-functions-figure15.dpth
paper/matrix-functions-figure15.log
paper/matrix-functions-figure15.md5
paper/matrix-functions-figure15.pdf
paper/matrix-functions-figure15.run.xml
paper/matrix-functions-figure16.dpth
paper/matrix-functions-figure16.log
paper/matrix-functions-figure16.md5
paper/matrix-functions-figure16.pdf
paper/matrix-functions-figure16.run.xml
paper/matrix-functions.toc
paper/matrix-functions.toc
paper/matrix-functions.toc
paper/matrix-functions.toc
